<footer>
   {% include social-buttons.html %}
    <p><br></p>
    <div class="container text-center">
        <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div><script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="996bfe40-74f7-4bef-a20b-df2b782b5748";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
   
</footer>
<p><br></p>
