<h2 align="center"> Portfolio</h2>
<div class="portfolio">
  {% for portfolio in site.portfolio %}
    <a href="{{ portfolio.url | prepend: site.baseurl }}">
       </a>
  {% endfor %}
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-its-ryan-blog/">It is Ryan Blog</a>
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-owlsec-technologies/">OwlSec Technologies</a>
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-saoa-enterprises/">SAOA Technologies</a>
</div>
</div>
