<br>
<br>
<h2 align="center"> Portfolio</h2>
<div class="portfolio">
  {% for portfolio in site.portfolio %}
    <a href="{{ portfolio.url | prepend: site.baseurl }}">
       </a>
  {% endfor %}
  <center>
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-its-ryan-blog/"><h4>It is Ryan Blog</h4></a>
    <br>
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-owlsec-technologies/"><h4>OwlSec Technologies</h4></a>
    <br>
  <a href="https://stephenajulu.github.io/portfolio/2019-07-07-saoa-enterprises/"><h4>SAOA Technologies</h4></a>
    <br>
  </center>
</div>
</div>
