<h2 align="center"> Portfolio</h2>
<div class="portfolio">
  {% for portfolio in site.portfolio %}
    <a href="{{ portfolio.url | prepend: site.baseurl }}">
       </a>
  {% endfor %}
       <table style="width:100%">
  <tr>
  <td><a href="https://stephenajulu.github.io/portfolio/2019-07-07-its-ryan-blog/"><img src="https://ajulusthoughts.files.wordpress.com/2019/07/annotation-2019-07-07-122058.png?w=240">It Is Ryan The Blog</img></a></td>
  <td><a href="https://stephenajulu.github.io/portfolio/2019-07-07-owlsec-technologies/"><img src="https://ajulusthoughts.files.wordpress.com/2019/07/annotation-2019-07-07-121057.png?w=240"></a>OwlSec Technologies</img></td>
  <td><a href="https://stephenajulu.github.io/portfolio/2019-07-07-saoa-enterprises/"><img src="https://ajulusthoughts.files.wordpress.com/2019/07/annotation-2019-07-07-121310.png?w=240"></a>Saoa Technologies</img></td>
  </tr>
</table> 
      </div>
   
</div>
