<a href="#portfolio"><h2 align="center"> Portfolio</h2></a>
<div class="portfolio">
  {% for portfolio in site.portfolio %}
    <a href="{{ portfolio.url | prepend: site.baseurl }}">
       <table style="width:100%">
  <tr>
    <th>IT IS RYAN BLOG</th>
    <th>OWLSEC TECHNOLOGIES</th>
    <th>SAOA TECHNOLOGIES</th>
  </tr>
  <tr>
    <td><a href="https://stephenajulu.github.io/portfolio/2019-07-07-its-ryan-blog/"><img src="https://ajulusthoughts.files.wordpress.com/2019/07/annotation-2019-07-07-122058.png?w=240"></a></td>
  </tr>
         <tr>
           <td><a href="https://stephenajulu.github.io/portfolio/2019-07-07-owlsec-technologies/"><img src="https://ajulusthoughts.files.wordpress.com/2019/07/annotation-2019-07-07-121057.png?w=240"></a></td>
         </tr>
</table> 
      </div>
    </a>
  {% endfor %}
</div>
